# IDEs and Editors.
*.DS_Store
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
