# frontend ignore files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# misc front end stuff.
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings